@font-face {
    font-family: 'HEROS';
    src: url(Far-From.otf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

}
/* en-tete */
header{
    background-color: #B11313;

}
header #bloc-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
/* logo */
header #bloc-nav .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header #bloc-nav .logo img{
    padding-left: 1em;
}
/* barre de navigation */
header #bloc-nav nav a{
    text-decoration: none;
    color: #ffffff;
    padding-right: 2.9em;
    font-size: 1.5em;
}

/* coprs */
/* bloc1 */
main .bloc1{
    background-image: url(/Assets/Illustration/img19.png);
    background-size: cover;
    height: 80vh;
    color: #ffffff;
}
.bloc1 h1{
    font-family: 'HEROS';
    padding-left: 100px;
    padding-top: 15%;
    font-size: 700%;
}
.bloc1 p{
    padding-left: 100px;
    font-size: 200%;
}
/* bloc2 */
main .bloc2{
    background-color: #114C92;
    color: #ffffff;
    padding: 8%;
    align-items: center;
    
    
}
.bloc2 h1{
    padding-left: 450px;
    align-items: center;
    font-family: 'HEROS';
    font-size: 200%;
}
.bloc2 p{
    padding-left: 450px;
    align-items: center;
    
}
.bloc2-flex1{
  display: flex;
    
    justify-content: space-evenly;
    
    padding-left: 1px;
    padding-top: 3%;
   
}
.bloc2-flex1.elmh p{
    padding-left: 100px;
}
/* bloc3 */
main .bloc3{
    background-image: url(/Assets/Illustration/img20.png);
    background-size: cover;
    height: 60vh;
    color: #ffffff;
    
}
.bloc3 h1{
    font-family: 'HEROS';
    padding-top: 10%;
    padding-left: 10%;
    font-size: 200%;
}
.bloc3 h3{
    padding-left: 10%;
    font-size: 150%;

}
/* bloc4 */
main .bloc4{
    background-color: #114C92;
    color: #ffffff;
    padding: 9%;
}
main .bloc4 .puissance{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .bloc4 .pote-flex{
    display: flex;
    justify-content: space-around;
    
}
main .bloc4 .pote h1{
    font-family: 'HEROS';
    padding-top: 2%;
    padding-left: 8%;
}
main .bloc4 .pote h3{
    padding-left: 8%;
}

main .bloc4 .pote .dedidace h1{
    font-family: 'HEROS';
}
main .bloc4 .pote .dedidace p{
    padding-top: 1%;
}
main .bloc4 .photo-fille{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .bloc4 .photo-fille .mJ h1{
    font-family: 'HEROS';
}
main .bloc4 .photo-fille .mJ-ph{
    padding: 2.9em;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 4em;
}

.mJ-ph p:nth-child(3){
    margin-left: 7.2em;
}
/* bloc5 */
main .bloc5{
    background-color: #B11313;
    color: #ffffff;
    padding-left: 20%;
}
.bloc5 h1{
    font-family: 'HEROS';
}
main  .bloc5 .tesla {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main  .bloc5 .tesla .bbmusk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main  .bloc5 .tesla .bbmusk .ax{
    margin: 2%;
}
main  .bloc5 .tesla .bbmusk .ax img{
    margin-top: 8%;
    padding-top: 10px;
}
main  .bloc5 .tesla .bbmusk .ax .img1{
    padding-top: 120px;
}
main  .bloc5 .tesla .spacex{
    max-width: 100%;
    background-position: right;
    max-height: 100%;
}
/* bloc6 */
main .bloc6{
  
    background-image: url(/Assets/Illustration/img33.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;

    
}
main .bloc6 .text{
    background-color: #114C92;
    opacity: 70%;
    color: #ffffff;
    width: 30%;
    background-position: center;
    padding: 2%;
    justify-content: center;
    margin-left: 56%;


}
main .bloc6 .text h1{
    font-family: 'HEROS';
    text-align: center;
}
main .bloc6 .text h2{
    text-align: center;
    padding-left: 40%;
}
main .bloc6 .text p{
    padding-left: 10%;
}
/* pied */
footer{ 
    text-align: center;
    background-color: #000000;
    height: auto;
}
/* 1ére partie de footer */
footer .faq{
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .faq .footer-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .faq .footer-logo img{
    padding: 0.5em;
}
footer .faq a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}
/* 2éme partie */
footer .reseau-social{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 2em;
}

footer .reseau-social p {
    margin: 1em;
    background-color: #B11313;
    border-radius: 50%;
    padding: 0.9em;
}
/* copyrighting */
footer .copy{
    padding: 2em;
    font-size: 1.3em;
    color: #ffffff;
}